
body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background-color: lightgray;
              
}
#blogCard{
    width: 80%;
    height: 80%;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(40, 129, 219);

   

}
.img{
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;
    min-width: 300px;
    min-height: 300px;
    margin:10px;  
}

