{% extends 'base.html' %}

{% block content %}   

<div class="card" id="blogCard">
  <div class="h1 text-uppercase text-center text-gray-dark bg-warning">{{ post.title }}</div>
  <img
    class="mx-auto w-50 h-50"
    id="blogImage"
    src="{{ post.image.url }}"
    alt="Card image capture"
  />
  <div class="card-body">       
    <p class="text-left m-2">{{post.content|safe }}</p>  
  </div>
  <div>
    {% for comment in post.comments %}
      <div class="card-footer text-left">
        <p class="text-left m-2">{{ comment.content }}</p>
      </div>
    {% endfor %}
  </div>
  {% include "./icons.html" %}

  
    <div class="card-footer">
      <a href="{% url 'post_update' post.id %}" class="btn btn-warning">Edit</a>
      <a href="{% url 'post_delete' post.id %}" class="btn btn-danger">Delete</a>
    </div>

 
</div>

{% comment %} {% include "./comment.html" %} {% endcomment %}


{% endblock content %}
